<!DOCTYPE html>
<html lang="en">
<body>
<div class="log-form">
  <h2 class="title">Welcome to My Cutlery!</h2>
  <form [formGroup]="loginForm">
    <label>
      <input class="username" type="text" formControlName="username" placeholder="username"/>
    </label>
    <br>
    <label>
      <input class="password" type="password" formControlName="password" placeholder="password"/>
    </label>
    <button type="submit" class="btn" [disabled]="!loginForm.valid" (click)="onSubmit()">Login</button>
    <br>
    <a class="new" routerLink="/create-account">Create Account</a>
  </form>
</div>
</body>
</html>
