/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, serif;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.mat-menu-item {
  color: blue !important;
}

button.mat-menu-item {
  background-color: white;
}

button.mat-menu-item:hover {
  background-color: blue;
  color: #fff !important;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 180px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.item {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.menuinfo {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  color: ghostwhite;
  display: block;
  position: center;
  margin-left: 16px;
  margin-top: 10px;
}

.menuinfo:hover {
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  color: cornflowerblue;
  display: block;
  position: center;
  margin-left: 16px;
  margin-top: 10px;
}
