<div class="sidenav">
  <h4 class="menuinfo" routerLink="/home">My Own Cutlery</h4>
  <hr>
  <a *ngIf="!loggedIn; else logout" class="item" id="login" routerLink="/login">Login</a>
  <ng-template #logout>
    <a class="item" id="logout" routerLink="/logout">Logout</a>
  </ng-template>
  <a class="item" id="store" routerLink="/store">Store</a>
  <a *ngIf="loggedIn && !auth.isAdmin()" class="item" routerLink="/client-area">Profile</a>
  <a *ngIf="canSeeOrders()" class="item" routerLink="orders">Orders</a>
  <a *ngIf="canSeeClients()" class="item" routerLink="clients">Clients</a>
  <div *ngIf="auth.isAdmin()">
    <hr>
    <a class="item" routerLink="/admin-area">Admin Area</a>
    <a class="item" routerLink="products">Products</a>
    <a class="item" routerLink="operations">Operations</a>
    <a class="item" routerLink="machines">Machines</a>
    <a class="item" routerLink="machine-types">Machine Types</a>
    <a class="item" routerLink="production-lines">Production Lines</a>
    <a class="item" routerLink="production-planning">Production Planning</a>
    <a class="item" routerLink="execution-visualization">Execution Visualization</a>
  </div>
  <hr>
  <a class="item" routerLink="about">The Team</a>
</div>
<div class="main">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>
