<h2 class="h2">Clients</h2>
<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <h3 class="h2" *ngIf="!clients || clients.length === 0">No clients found.</h3>
  <ul class="clients">
    <li class="li" *ngFor="let client of clients">
      <a routerLink="/clients/{{client.username}}/profile">
        <a class="client">{{client.username}}</a>
      </a>
    </li>
  </ul>
</ng-template>

