<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div *ngIf="client">
    <h2 class="title">Client {{client.username}}  - Details</h2>
    <h3 class="word">Username: {{client.username}} </h3>
    <h3 class="word">Name: {{client.firstName}} {{client.lastName}} </h3>
    <h3 class="word">Address: {{client.address}}</h3>
    <h3 class="word">Age: {{client.age}}</h3>
    <h3 class="word">Email: {{client.email}}</h3>
    <h3 class="word">NIF:  {{client.nif}}</h3>
    <h3 class="word">Phone Number: {{client.phoneNumber}}</h3>
    <button *ngIf="canUpdate()" class="submit" type="submit" routerLink="/clients/{{client.username}}/update">
      Update Client
    </button>
    <button *ngIf="canDelete()" class="submit" style="color: white; background-color: red;" type="submit"
            (click)="deleteClient()">
      Delete Account
    </button>
  </div>
</ng-template>

