.word {
  font-size: 20px;
  text-align: left;
  color: black;
}

.title {
  font-size: 30px;
  text-align: left;
  color: royalblue;
}
.dropbtn {
  background-color: royalblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: gray;
}
.submit {
  background-color: royalblue;
  border: 5px black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}
