<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div class="split left">
    <h3 class="title">New Machine Type</h3>
    <hr>
    <label class="word">
      Name:
      <input type="text" class="text-field" [formControl]="name">
    </label>
    <br>
    <div>
      <label class="word">
        Operations
      </label>
      <div class="example-container">
        <h2>Available Operations</h2>

        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]=opsObj
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let op of opsObj" cdkDrag>{{op.description}}</div>
        </div>
      </div>
      <br>
      <div align="left" class="example-container">
        <h2>Chosen Operations</h2>

        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]=chosenOperations
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let chosenOP of chosenOperations" cdkDrag>{{chosenOP.description}}</div>
        </div>
      </div>
      <br>
      <button class="submit" type="submit" [disabled]="(!name.valid)" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </div>

