<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div class="split left">
    <h3 class="title">New Production Line</h3>
    <hr>
    <label class="word">
      Production Line Identifier:
      <input type="text" placeholder="Production Line's Identifier with no spaces" class="text-field"
             [formControl]="productionLineIdentifier">
      <span style="color:red" class="help-block"
            *ngIf="productionLineIdentifier.errors?.pattern && productionLineIdentifier.touched">
      Invalid Identifier!
    </span>
    </label>
    <br>
    <div>
      <div class="example-container">
        <h2>Available Machines</h2>

        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]=machines
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let machine of machines" cdkDrag>{{machine}}</div>
        </div>
      </div>

      <div align="left" class="example-container">
        <h2>Chosen Machines</h2>

        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]=chosenMachines
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let chosenMachine of chosenMachines" cdkDrag>{{chosenMachine}}</div>
        </div>
      </div>
      <br>
      <button class="submit" type="submit" [disabled]="(!productionLineIdentifier.valid || chosenMachines.length<1)"
              (click)="onSubmit()">
        Submit
      </button>
    </div>
  </div>
</ng-template>
