<h2 class="h2">Machines</h2>
<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <h3 class="h2" *ngIf="!machines || machines.length === 0">No Machines found.</h3>
  <ul class="operations">
    <mat-select class="mat-select" align="left" [(value)]="selectedMachineType">
      <mat-option value="None" (click)="getMachinesByType()">All Machines</mat-option>
      <mat-option class="machine-type" *ngFor="let machineType of machineTypes" value="{{machineType.name}}"
                  (click)="getMachinesByType()">{{machineType.name}}</mat-option>
    </mat-select>
    <li class="li">
      <a class="new" routerLink="/machines/new">+ New Machine</a>
    </li>
    <li class="li" *ngFor="let machine of machines">
      <a routerLink="/machines/{{machine.serialNumber}}/detail">
        <a class="machine">{{machine.serialNumber}}</a>
      </a>
    </li>
  </ul>
</ng-template>

