<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div *ngIf="username">
    <h3 class="title">Update Account: {{username}} </h3>
    <hr>
    <label class="word">
      Address:
      <br>
      <input id="AddressTxt" type="text" required placeholder="Client's Address" [formControl]="addressText">
    </label>
    <br>
    <label class="word">
      First Name:
      <br>
      <input id="FirstNameTxt" type="text" required placeholder="Client's First Name." [formControl]="firstNameText">
    </label>
    <br>
    <label class="word">
      Last Name:
      <br>
      <input id="LastNameTxt" type="text" required placeholder="Client's Last Name." [formControl]="lastNameText">
    </label>
    <br>
    <br>
    <button class="submit" type="submit"
            [disabled]="(!addressText.valid || !firstNameText.valid || !lastNameText.valid)" (click)="updateClient()">
      Update!
    </button>
  </div>
</ng-template>
