<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div *ngIf="machineType">
    <h2 class="title">Machine Type {{machineType.name}} - Details</h2>
    <button class="dropbtn" routerLink="/machine-types/{{machineType.name}}/update">Update</button>
    <h3 class="word">Name: {{machineType.name}}</h3>
    <h3 class="word">Operations:
      <button id="toggleButton" (click)="myFunction()" class="dropbtn">Show</button>
    </h3>
    <div class="dropdown-content" id="myDropdown">
      <a *ngFor="let opName of machineType.listMacTypeOperations">
        <a id="operation" class="operation" routerLink="/operations/{{opName}}/detail">{{opName}}</a>
      </a>
    </div>
  </div>
</ng-template>
