<h2 class="h2">My Orders</h2>
<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <h3 class="h2" *ngIf="!orders || orders.length === 0">No Orders found.</h3>
  <ul class="orders">
    <li class="li" *ngFor="let order of orders">
      <a routerLink="/orders/{{order.reference}}/detail">
        <a class="order">Ref # {{order.reference}}
          <div class="right">
            <a>Placement Date: {{order.placementDate.toLocaleDateString()}}</a>
          </div>
        </a>
      </a>
    </li>
  </ul>
</ng-template>

