.title {
  font-size: 30px;
  text-align: left;
  color: royalblue;
}

.showHide {
  background-color: royalblue;
  border: 5px black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}
