<h3 class="title">Execution Visualization</h3>
<a *ngIf="!access; else accessDiv" class="h2">Admin only area.</a>
<ng-template #accessDiv>
  <button class='showHide' type='showHide' (click)="show3d()">Show / Hide canvas</button>
  <div id="3d-container">

    <div id="canvas-holder">
      <canvas id="canvas"></canvas>
      <div id="gui-container" style="position: absolute; top: 10em; right: 0; z-index: 1;"></div>
      <div class='tooltip' id='tooltip'
           style=' background:lightgoldenrodyellow; border: black; visibility: visible; position: absolute; color: black; font-family:sans-serif'></div>
    </div>
  </div>
</ng-template>

