<h3>Admin Area</h3>
<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div class="container" *ngIf="auth.isAdmin()">
    <button class="button" routerLink="/products">Products Menu</button>
    <button class="button" routerLink="/operations">Operations Menu</button>
    <button class="button" routerLink="/machine-types">Machine Types Menu</button>
    <button class="button" routerLink="/machines">Machines Menu</button>
    <button class="button" routerLink="/production-lines">Production Lines Menu</button>
    <button class="button" routerLink="/execution-visualization">Execution Visualization</button>
    <button class="button" routerLink="/production-planning">Production Planning</button>
    <button *ngIf="canSeeOrders()" class="button" routerLink="/orders">Orders Menu</button>
    <button *ngIf="canSeeClients()" class="button" routerLink="/clients">Clients Menu</button>
  </div>
</ng-template>
