/* MainPageComponent's private CSS styles */
h3 {
  text-align: center;
  font-size: 48px;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}

.item {
  order: 0; /* default is 0 */
  flex-grow: 1;
  flex-shrink: 1;
}

.button {
  background-color: royalblue; /* red */
  border: 1px solid black;
  transition-duration: 0.4s;
  color: white;
  padding: 50px 90px;
  text-align: justify-all;
  text-decoration: none;
  display: block;
  float: left;
  font-size: 21px;
  width: 400px;
  height: 300px;
  max-width: 400px;
  max-height: 300px;
  margin: 10px;
}

.button:hover {
  background-color: #e7e7e7; /* Gray */
  color: black;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
