.error {
  margin-top: 20px;
  padding: 20px;
  background-color: coral;
  color: white;
  margin-bottom: 15px;
}

.info {
  margin-top: 20px;
  padding: 20px;
  background-color: forestgreen;
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
