<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div *ngIf="operation">
    <h2 class="title">Operation {{operation.description}} - Details</h2>
    <h3 class="word">Description: {{operation.description}}</h3>
    <h3 class="word">Tool: {{operation.tool}}</h3>
    <h3 class="word">Execution Time: {{operation.executionTime}} seconds</h3>
    <h3 class="word">Setup Time: {{operation.setupTime}} seconds</h3>
  </div>
</ng-template>
