<h2 style="color: royalblue">Production Planning</h2>
<div style="color: royalblue">

  Date:
  <mat-form-field>
    <label>
      <input matInput name="from" [matDatepicker]="picker" placeholder="From" [(ngModel)]="startDate">
    </label>>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

  </mat-form-field>

  <mat-form-field>
    <label>
      <input matInput [matDatepicker]="pickerTo" placeholder="To" [(ngModel)]="endDate">
    </label>>
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>

  </mat-form-field>

  <p></p>

  <button class="submit" (click)="onSubmit()">Generate PROLOG database!</button>
</div>
