<div id="content">
  <a routerLink="/shopping-cart">
    <img *ngIf="!store.hasItems()" src="../../../../assets/images/shopping-cart.png" alt="shopping cart"
         class="ribbon"/>
    <img *ngIf="store.hasItems()" src="../../../../assets/images/shopping-cart-items.png" alt="shopping cart full"
         class="ribbon"/>
  </a>
</div>
<a *ngIf="!access; else accessDiv" class="h2">Cart is empty <br> <br> Please log in to make a purchase.</a>
<ng-template #accessDiv>
  <div *ngIf="product">
    <h2 style="text-align: center" class="title">Product {{product.name}} - Details</h2>
    <h3 class="word">Name: {{product.name}}</h3>
    <h3 class="word">Price: {{product.price}}</h3>
    <label class="word">
      <h3 class="word">Quantity:
      <input type="number" class="text-field" [formControl]="quantity" placeholder="1">
      </h3>
    </label>
    <label class="word"><h3 class="word">Delivery Date:
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="deliveryDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </h3>
    </label>
    <div>
      <button class="submit" type="submit"
              [disabled]="(!quantity.valid || !deliveryDate)" (click)="onSubmit()">
        Add to Cart
      </button>
    </div>
  </div>
</ng-template>
