#content {
  position: relative;
}
#content img {
  width: 5%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.submit {
  top: 50%;
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: royalblue;
  text-align: center;
  cursor: pointer;
  width: 200px;
}
.right {
  float: right;
}


