<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div *ngIf="machine">
    <h2 class="title">Machine {{machine.serialNumber}} - Details</h2>
    <h3 class="word">Model: {{machine.model}}</h3>
    <h3 class="word">Brand: {{machine.brand}}</h3>
    <h3 class="word">Working State: {{machine.machineWorkingState}}</h3>
    <h3 class="word">Machine Type:
      <a class="word machineType"
         routerLink="/machine-types/{{machine.machineType}}/detail"> {{machine.machineType}}</a>
      <label>
        <a class="dropdown">
          <button (click)="showMachineTypes()" class="dropbtn">Change ▼</button>
          <div id="myDropdown" class="dropdown-content">
            <a class="li" *ngFor="let machineType of otherMachineTypes">
              <a (click)="updateMachineType(machineType)">
                <a class="word">{{machineType.name}}</a>
              </a>
            </a>
          </div>
        </a>
      </label>
    </h3>
  </div>
</ng-template>
