<h3 class="title">Updating Order # {{reference}}</h3>
<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <label class="word">
    Delivery Address:
    <br>
    <input type="text" required placeholder="Delivery Address" [formControl]="deliveryAddress">
  </label>
  <br>
  <button class="submit" id="operation-submit" type="submit" [disabled]="!deliveryAddress.valid" (click)="onSubmit()">
    Update
  </button>
</ng-template>
