input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 15%;
  padding: 12px 20px;
  position: relative;
  margin: 8px 0;
  box-sizing: border-box;
}

.box {
  margin-top: 20px;
}

.word {
  font-size: 20px;
  text-align: left;
  color: black;
}

.title {
  font-size: 30px;
  text-align: left;
  color: royalblue;
}

.submit {
  background-color: royalblue;
  border: 5px black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

.submit:disabled {
  background-color: dimgrey;
  border: 5px black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}
