<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div class="split left">
    <h3 class="title">New Product</h3>
    <hr>
    <label class="word">
      Name:
      <input type="text" class="text-field" [formControl]="name">
    </label>
    <label class="word">
      Price:
      <input type="number" class="text-field" [formControl]="price">
    </label>
    <br>
    <div>
      <label class="word">Fabrication Plan:</label>
      <label>
        <a class="dropdown">
          <button (click)="showOperations()" class="dropbtn">Operations</button>
          <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" (keyup)="filterOperations()">
            <a class="li" *ngFor="let operation of operations">
              <a (click)="chooseOperation(operation)">
                <a class="operation">{{operation.description}}</a>
              </a>
            </a>
          </div>
        </a>
      </label>
      <br>
      <button class="submit" type="submit" [disabled]="(!name.valid || chosenOperations.length<1)" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </div>
  <div class="split right">
    <h1 class="word">Order:</h1>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="box" *ngFor="let operation of chosenOperations" cdkDrag>
        <a class="word chosen-operation"> {{operation}}</a>
        <a class="remove-btn" (click)="removeOp(operation)">x</a>
      </div>
    </div>
  </div>
</ng-template>
