<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div *ngIf="product">
    <h2 class="title">Product {{product.name}} - Details</h2>
    <h3 class="word">Name: {{product.name}}</h3>
    <h3 class="word">Price: {{product.price}}</h3>
    <h3 class="word">Fabrication Plan:
      <button id="toggleButton" (click)="onClick()" class="dropbtn">Show</button>
    </h3>
    <div class="dropdown-content" id="myDropdown">
      <a *ngFor="let op of product.fabricationPlan.operations">
        <a class="word operation" routerLink="/operations/{{op}}/detail">{{op}}</a>
      </a>
    </div>
  </div>
</ng-template>
