<h3>My Own Cutlery</h3>
<div class="post-container">
  <div class="post-thumb">
    <img class="img" src="../../../assets/images/cutlery.jpg" alt="Our Cutlery"/>
  </div>
  <div class="post-content">
    <h3 class="post-title">Who are we?</h3>
    <p class="text">
      We are Porto's very best cutlery making brand.
      We use only the finest silver.
      Our products are light, high quality, long lasting.
      <br>
      <br>
      <b>We never settle in our search for quality.</b></p>
  </div>
  <button class="button" routerLink="/store">View Our Products</button>
</div>
