/* MainPageComponent's private CSS styles */


h3 {
  text-align: center;
  font-size: 48px;
}

.item {
  order: 0; /* default is 0 */
  flex-grow: 1;
  flex-shrink: 1;
}

.button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.button:hover {
  color: #ffffff !important;
  background: royalblue;
  border-color: royalblue !important;
  transition: all 0.4s ease 0s;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.post-container {
  margin: 20px 20px 20px 20px;
  border: 5px solid #333;
  overflow: auto;
}

.post-thumb {
  float: left;
  width: 50%;
  height: 50%;
}

.post-thumb img {
  display: block;
  width: 90%;
  height: 100%;
}

.post-content {
  margin-left: 3%;
  width: 95%;
  align-content: center;
}

.text {
  font-size: 25px;
  justify-content: center;
}

.post-title {
  font-weight: bold;
  font-size: 200%
}
