<div class="box">
  <h3 class="title">New Machine</h3>
  <hr>
  <a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
  <ng-template #accessDiv>
    <label class="word">
      Serial Number:
      <input type="text" class="text-field" required pattern="[A-Z,0-9]+" required
             placeholder="(only uppercase letters and numbers; no spaces)" class="text-field"
             [formControl]="serialNumber">
      <span style="color:red" class="help-block" *ngIf="serialNumber.errors?.pattern && serialNumber.touched">
      Invalid Serial number!
    </span>
    </label>
    <br>
    <label class="word">
      Model:
      <input type="text" class="text-field" [formControl]="model">
    </label>
    <br>
    <label class="word">
      Brand:
      <input type="text" class="text-field" [formControl]="brand">
    </label>
    <br>
    <div>
      <label class="word">
        Machine Type:
      </label>
      <label>
        <a class="dropdown">
          <button id="machine-button" (click)="showMachineTypes()" class="dropbtn">Machine Type</button>
          <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" (keyup)="filterMachineTypes()">
            <a class="li" *ngFor="let type of machineTypes">
              <a (click)="chooseMachineType(type)">
                <a class="operation">{{type.name}}</a>
              </a>
            </a>
          </div>
        </a>
      </label>
      <br>
      <button class="submit" type="submit"
              [disabled]="(!serialNumber.valid || chosenMachineType == null || chosenMachineType == '' )"
              (click)="onSubmit()">
        Submit
      </button>
    </div>
  </ng-template>
</div>
