.dropbtn {
  background-color: royalblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: gray;
}

#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.text-field {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 10%;
  padding: 12px 20px;
  position: relative;
  margin: 8px 0;
  box-sizing: border-box;
}

.word {
  font-size: 20px;
  text-align: left;
  color: black;
}

.title {
  font-size: 30px;
  text-align: left;
  color: royalblue;
}

.submit {
  background-color: royalblue;
  border: 5px black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

.submit:disabled {
  background-color: dimgrey;
  border: 5px black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}
