.h2 {
  padding-left: 40px;
}

.li {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.machine-type:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
  text-decoration: none;
}

.machine-type {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

.new {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: #333333; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

