<h2 class="h2">Machine Types</h2>
<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <h3 class="h2" *ngIf="!types || types.length === 0">No Machine Types found.</h3>
  <ul class="machine-types">
    <li class="li">
      <a class="new" routerLink="/machine-types/new">+ New Machine Type</a>
    </li>
    <li class="li" *ngFor="let machineType of types">
      <a routerLink="/machine-types/{{machineType.name}}/detail">
        <a class="machine-type">  {{machineType.name}}</a>
      </a>
    </li>
  </ul>
</ng-template>

