<h3>Client Area</h3>
<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div class="container">
    <button *ngIf="canVisitProfile()" class="button" routerLink="/clients/{{username}}/profile">My Profile</button>
    <button *ngIf="canSeeOrders()" class="button" routerLink="/clients/{{username}}/orders">My Orders</button>
  </div>
</ng-template>
