<h2 class="team">Class 3DX</h2>
<h2 class="team">Group 058</h2>

<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>João Lopes</h2>
        <p class="title">1171145</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Daniel Oliveira</h2>
        <p class="title">1171139</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Alexandre Rocha</h2>
        <p class="title">1171096</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Leonardo Estrela</h2>
        <p class="title">1171430</p>
      </div>
    </div>
  </div>
</div>
