
.li {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#gridMember:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

#gridMember {
  height: 150px;
  width: 400px;
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#text {
  float: left;
}
#storeImage {
  float: right;
}

.order {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

.asText {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

.new {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: #333333; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

.buttonWrapper {
  text-align: center;
}

.right {
  float: right;
}

.submit {
  top: 50%;
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: royalblue;
  text-align: center;
  cursor: pointer;
  width: 200px;
}

.totalPrice {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  padding: 12px; /* Add some padding */
  text-align: center;
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#content {
  position: relative;
}

#content img {
  width: 5%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.container-filter {
  padding-left: 40px;
}

.h4 {
  padding-left: 40px;
}
