<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div class="split left" xmlns="http://www.w3.org/1999/html">
    <h3 class="title">My Shopping Cart</h3>
    <hr>
    <label class="word">
      Shipping Address:
      <input type="text" class="text-field" [formControl]="shippingAddress">
    </label>
    <br><br>
    <label class="word">
      Credit Card:
      <input type="text" class="text-field" [formControl]="creditCard" placeholder="PT509999999999999999">
    </label>
    <br><br>
    <h3 class="h3">Products:</h3>
    <ul class="orders">
      <li class="li" *ngFor="let prod of products">
        <div>
          <a class="order">{{prod.name}} - Price: {{prod.price}} - Quantity: {{prod.quantity}}
            <div class="right">
              <button class="asText" (click)="removeProduct(prod.name)">X</button>
            </div>
          </a>
        </div>
      </li>
    </ul>
    <a class="totalPrice">Total Price = {{totalPrice}}</a>
  </div>
  <br><br>
  <div class="buttonWrapper">
    <button class="submit" type="submit"
            [disabled]="(!creditCard.valid || !shippingAddress.valid)" (click)="onSubmit()">
      Place my Order!
    </button>
  </div>
</ng-template>
