<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div *ngIf="machineType">
    <h2 class="title">Update Machine Type: {{this.machineType.name}}</h2>
    <hr>
    <label>
      <a class="dropdown">
        <button (click)="showOperations()" class="dropbtn">View Operations ▼</button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput" (keyup)="filterOperations()">
          <a class="li" *ngFor="let operation of availableOperations">
            <a (click)="chooseOperation(operation)">
              <a class="operation">{{operation.description}}</a>
            </a>
          </a>
        </div>
      </a>
    </label>
    <div class="split right">
      <h1 class="word">Operations Of Machine Type:</h1>
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let operation of operationsOfMachine" cdkDrag>
          <a class="word"> {{operation.description}}</a>
          <a class="remove-btn" (click)="removeOp(operation)">x</a>
        </div>
      </div>
    </div>
    <p></p>
    <br>
    <button class="submit" [disabled]="(!this.change)" (click)="updateMachineType()">Update!
    </button>
  </div>
</ng-template>
