<a *ngIf="!access; else accessDiv" routerLink="/login" class="h2">Please log in to visit our store</a>
<ng-template #accessDiv>
  <div *ngIf="canMakeOrder()" id="content">
    <a routerLink="/shopping-cart">
      <img *ngIf="!storeService.hasItems()" src="../../../assets/images/shopping-cart.png" alt="shopping cart"
           class="ribbon"/>
      <img *ngIf="storeService.hasItems()" src="../../../assets/images/shopping-cart-items.png" alt="shopping cart full"
           class="ribbon"/>
    </a>
  </div>
  <h2 class="h2" style="text-align: center" >
    <img src="../../../assets/images/logo.png" alt="icon" class="ribbon" height="20" width="20"/>
    Store

  </h2>
  <label class="container-filter select-css">
    <select [(ngModel)]="selectedOption" class='choice'>
      <option value="none">No Filter</option>
      <option value="times">Most Ordered</option>
      <option value="quantity">Most Quantity Ordered</option>
      <option value="production-time">Fastest Production</option>
    </select>
  </label>

  <button class="button" (click)="filterProducts(selectedOption)">Filter</button>
  <br>
  <br>

    <div class="wrapper">
    <li class="li" *ngFor="let product of products">
      <div class='gridMember' id="gridMember" routerLink="/store/{{product.name}}">
            <div id="text">
              <h3>{{product.name}}</h3>
              <a class="price">${{product.price}}</a>
            </div>
            <div id="storeImage">
            <img src="../../../assets/images/logo-vintage.png" alt="todo" style="float: right" height="80" width="80"/>
            </div>
        <br>
      </div>
    </li>
  </div>
</ng-template>
