<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div class="box">
    <h3 class="title">New Operation</h3>
    <hr>
    <form [formGroup]="operationForm">
      <label class="word">
        Description:
        <br>
        <input type="text" formControlName="description" required placeholder="Operation's description (no spaces)">
      </label>
      <br>
      <label class="word">
        Tool:
        <br>
        <input type="text" formControlName="tool" required placeholder="Tool used in the order">
      </label>
      <br>
      <label class="word">
        Execution Time in seconds:
        <br>
        <input type="number" formControlName="executionTime" required placeholder="0">
      </label>
      <br>
      <label class="word">
        Setup Time in seconds:
        <br>
        <input type="number" formControlName="setupTime" required placeholder="0">
      </label>
      <br>
      <button class="submit" id="operation-submit" type="submit" [disabled]="!operationForm.valid" (click)="onSubmit()">
        Submit
      </button>
    </form>
  </div>
</ng-template>
