* {
  box-sizing: border-box;
}

.log-form {
  width: 40%;
  min-width: 320px;
  max-width: 875px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -35%);

  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
}

form {
  display: block;
  width: 100%;
  padding: 2em;
}

h2 {
  width: 100%;
  color: white;
  font-size: 1.35em;
  display: block;
  background: royalblue;
  width: 100%;
  text-transform: uppercase;
  padding: .75em 1em .75em 1.5em;
  box-shadow: inset 0px 1px 1px #DCDCDC;
  border: 1px solid #808080;
  margin: 0;
  font-weight: 200;
}

input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}


.forgot {
  line-height: .5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: .75em;
  margin: 0;
  padding: 0;
  float: right;
}

