<h2 class="h2">Operations</h2>
<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <h3 class="h2" *ngIf="!operations || operations.length === 0">No Operations found.</h3>
  <ul class="operations">
    <li class="li">
      <a class="new" routerLink="/operations/new">+ New Operation</a>
    </li>
    <li class="li" *ngFor="let operation of operations">
      <a routerLink="/operations/{{operation.description}}/detail">
        <a class="operation">{{operation.description}}</a>
      </a>
    </li>
  </ul>
</ng-template>

