/* Dropdown Button */
.dropbtn {
  background-color: royalblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #444444;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 20px;
  box-shadow: none;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  list-style: none;
  color: black;
  padding: 16px 16px;
  text-align: left;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.word {
  font-size: 20px;
  text-align: left;
  color: black;
}

.title {
  font-size: 30px;
  text-align: left;
  color: royalblue;
}

.button {
  background-color: lightgrey;
  border-color: grey;
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-decoration: black;
  display: inline-block;
  font-size: 14px;
  margin: 2px 4px;
  cursor: pointer;
}
