<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div *ngIf="productionLine">
    <h2 class="title">Production Line  {{productionLine.productionLineIdentifier}} - Details</h2>
    <h3 class="word">Associated Machines:
      <button id="toggleButton" (click)="myFunction()" class="dropbtn">Show</button>
    </h3>
    <div class="dropdown-content" id="myDropdown">
      <a *ngFor="let machine of productionLine.listAssociatedMachinesDto">
        <a class="word"
           routerLink="/machines/{{machine.machineSerialNumber}}/detail"> {{machine.machineSerialNumber}} </a>
        <button class="button" style="color: red" (click)="activateMachine(machine.machineSerialNumber)">Activate
          Machine
        </button>
        <button class="button" style="color: darkgreen" (click)="deactivateMachine(machine.machineSerialNumber)">
          Deactivate Machine
        </button>
      </a>
    </div>
  </div>
</ng-template>

