<h2 class="h2">Products</h2>
<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <h3 class="h2" *ngIf="!products || products.length === 0">No Products found.</h3>
  <ul class="products">
    <li class="li">
      <a class="new" routerLink="/products/new">+ New Product</a></li>
    <li class="li" *ngFor="let product of products">
      <a routerLink="/products/{{product.name}}/detail">
        <a class="product">{{product.name}}</a>
      </a>
    </li>
  </ul>
</ng-template>

