<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <div *ngIf="order">
    <h2 class="title">Order # {{order.reference}}</h2>
    <h3 class="word">User: {{order.client}}</h3>
    <h3 class="word">Status: {{order.state}}</h3>
    <h3 class="word">Shipping Address: {{order.shippingAddress}}</h3>
    <h3 class="word">Price Paid: {{order.totalPrice}} Euros</h3>
    <h3 class="word">Payment Method: {{order.creditCardUsed}}</h3>
    <h3 class="word">Placement Date: {{order.placementDate.toLocaleDateString()}}</h3>
    <h3 class="word">Products Ordered
      <button id="toggleButton" (click)="myFunction()" class="dropbtn">Show</button>
    </h3>
    <div class="dropdown-content" id="myDropdown">
      <a *ngFor="let product of order.products">
        <a class="word product" routerLink="/products/{{product.name}}/detail">
          Product: {{product.name}} <br>
          Price: {{product.price}} <br>
          Quantity: {{product.quantity}} <br>
          Delivery Date: {{product.deliveryDate.toLocaleDateString()}} <br>
          <div *ngIf="product.predictedDeliveryDate;else notPredicted">
            Predicted Delivery Date: {{product.predictedDeliveryDate.toLocaleDateString()}}
          </div>
          <ng-template #notPredicted>
            Predicted Delivery Date: Not Predicted
          </ng-template>
        </a>
      </a>
    </div>
    <button *ngIf="canCancelOrder()" (click)="cancelOrder()" [disabled]="!(order.state==='ONGOING')" class="submit">
      Cancel
    </button>
    <br> <br>
    <button *ngIf="canUpdateOrder()" routerLink="/orders/{{order.reference}}/update"
            [disabled]="!(order.state==='ONGOING')" class="submit">
      Update
    </button>
  </div>
</ng-template>
