<h2 class="h2">Production Lines</h2>
<a *ngIf="!access; else accessDiv" class="h2">No Access.</a>
<ng-template #accessDiv>
  <h3 class="h2" *ngIf="!productionLines || productionLines.length === 0">No Production Lines found.</h3>
  <ul class="operations">
    <li class="li">
      <a class="new" routerLink="/production-lines/new">+ New Production Line</a>
    </li>
    <li class="li" *ngFor="let productionLine of productionLines">
      <a routerLink="/production-lines/{{productionLine.productionLineIdentifier}}/detail">
        <a class="production-line">{{productionLine.productionLineIdentifier}}</a>
      </a>
    </li>
  </ul>
</ng-template>
